<div class="login-form">
    <div class="row">
        <div class="columns medium-12">
            <div class="title">
                <h1>Login</h1>
                <hr/>
            </div>
            <form (submit)="loginUser($event)">
                <input type="text" placeholder="Username" id="username" />
                <input type="password" placeholder="Password" id="password" />
                <input class="button" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</div>



