<div class="home">
    <div class="row">
        <div class="col-medium 12">
            <div class="title">
                <h1>Angular 6 Login</h1>
                <hr/>
            </div>
            <div class="links">
                <ul>
                    <li><a class="button" routerLink="/login">Login</a></li>
                    <li><a class="button" routerLink="/register">Register</a></li>
                    <li><a class="button" routerLink="/admin">Go to admin</a></li>
                    <li><a class="button" routerLink="/dashboard">Dashboard</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
