<div class="login-form">
  <div class="row">
      <div class="columns medium-12 text-center">
          <div class="title">
              <h1>Register</h1>
              <hr/>
          </div>
          <form (submit)="registerUser($event)">
              <input type="text" placeholder="Username" id="username" />
              <input type="password" placeholder="Password" id="password" />
              <input type="password" placeholder="Confirm password" id="cpassword" />
              <input class="button" type="submit" value="Submit" />
          </form>
      </div>
  </div>
</div>



